{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <h1>Manage Profile</h1>
    <br />
    <h4>Change Password</h4>
    <p>To change your password, enter your current password, and then confirm your new password</p>
    <form action="/profile/changePassword" method="post">
        <div class="form-group">
            <input autofocus class="form-control" name="oldPassword" placeholder="Current password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="newPassword" placeholder="New password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
    <br />
    <h4>Delete Profile</h4>
    <p>Delete your profile and all of your data. WARNING: there is no going back!!</p>
    <form action="/profile/deleteProfile" method="post">
        <div class="form-group">
            <label for="confirmCheck">Yes, please delete</label>
            <input id="confirmCheck" name="confirmCheck" type="checkbox" value="yes">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmText" placeholder="Type 'DELETE'">
        </div>
        <button class="btn btn-danger" type="submit">Delete Profile</button>
    </form>
{% endblock %}
